<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AForge" version="2.2.5" targetFramework="net47" />
  <package id="AForge.Video" version="2.2.5" targetFramework="net47" />
  <package id="AForge.Video.DirectShow" version="2.2.5" targetFramework="net47" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net47" />
  <package id="EntityFramework.zh-Hant" version="6.2.0" targetFramework="net47" />
  <package id="FontAwesome.WPF" version="4.7.0.9" targetFramework="net47" />
  <package id="Microsoft.Office.Interop.PowerPoint" version="15.0.4420.1017" targetFramework="net471" />
  <package id="MicrosoftOfficeCore" version="15.0.0" targetFramework="net471" />
</packages>